.donation-form form
    display: flex
    flex-direction: column

.donation-form form input, .donation-form form textarea
    margin: 1vh 0
    border-radius: 0
    border: 0
    border-bottom: 1px solid #636b6f

